@using ExpenseReimbursment.Models.Entities
@model List<EmployeeEntity>


<div class="container">
    <table id="empListTable">
        <thead>
            <td>
                Employee Id
            </td>
            <td>
                First Name
            </td>
            <td>
                Middle Name
            </td>
            <td>
                Last Name
            </td>
            <td>
                Gender
            </td>
            <td>
                E-mail
            </td>
            <td>
                Contact Number
            </td>
            <td>
                Role
            </td>
            <td>
                Action
            </td>
        </thead>
        @foreach (EmployeeEntity emp in Model)
        {
            <tr>
                <td>
                    <input class="btn-link" type="button" value="@emp.EmpId" onclick="EmployeeDetails(@emp.EmpId)" />
                </td>
                <td>
                    @emp.FirstName
                </td>
                <td>
                    @emp.MiddleName
                </td>
                <td>
                    @emp.Lastname
                </td>
                <td>
                    @emp.Gender
                </td>
                <td>
                    @emp.EmailId
                </td>
                <td>
                    @emp.ContactNumber
                </td>
                <td>
                    @emp.EmpRole.RoleName
                </td>
                <td>
                    <input class="btn-link" type="button" value="Deactivate" onclick="EmpDeactivate(@emp.EmpId)" />
                </td>
            </tr>
        }
    </table>
</div>
