@model ExpenseReimbursment.Models.RegisterViewModel
@{
    ViewBag.Title = "GVB Administration";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Expense Reimbursement", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Register Employee", "RegisterEmployee", "Admin")</li>
                <li><a id="empList" href="#">Employee List</a></li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial", "Admin")
        </div>
    </div>
</div>
<div class="container">
    <h1>@ViewBag.Title</h1>
</div>

<div id="adminBody" class="container">
    @Html.Partial("~/Views/Admin/_Register.cshtml", Model)
</div>

<div id="errorMessage">
@if (Model != null && Model.Message != null)
{
    <label class="text-danger">
        @Model.Message 
    </label>
}    
</div>