
@using ExpenseReimbursment.Models.Entities
@model ExpenseReport

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            Report Id
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(m => Model.ReportId)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Report Type
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(m => Model.ExpType.ExpName)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Expense Amount
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(m => Model.ExpenseAmt)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Applied by
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(m => Model.EmpId)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Applied Date
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(m => Model.AppliedDate)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Approver Id
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(m => Model.ApproverId)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            Status
        </div>
        <div class="col-lg-2">
            @Html.LabelFor(m => Model.Status)
        </div>
    </div>
    @if (Model.Status.ToLower() == "approved")
    {
        <div class="row">
            <div class="col-lg-2">
                Approved Date
            </div>
            <div class="col-lg-2">
                @Html.LabelFor(m => Model.ApprovedDate)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                Approved Amount
            </div>
            <div class="col-lg-2">
                @Html.LabelFor(m => Model.ApprovedAmt)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                Comments
            </div>
            <div class="col-lg-2">
                <p>@Model.Comments</p>
            </div>
        </div>
    }
</div>


