
@model ExpenseReimbursment.Models.ReportViewModel


@using (Html.BeginForm("GenerateExpenseReport", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Expense Report.</h4>
    <hr />
    @Html.ValidationSummary("", new { id= "errorMessage", @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.ReportType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ReportType,new List<SelectListItem> { new SelectListItem { Text = "Business Travel", Value = "BTE" }, new SelectListItem { Text = "Conveyance", Value = "CNV" }, new SelectListItem { Text = "Medical Bills", Value= "MBE" }, new SelectListItem { Text= "Shift Allowance", Value= "SAE" }, new SelectListItem { Text= "Telecom Charges", Value="TEL" } }, "Select Expense Type", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ExpenseAmt, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ExpenseAmt, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Comments, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Generate" />
        </div>
    </div>
}


@*<div id="errorMessage">
    @if (Model != null && Model.Message != null)
    {
        <label class="text-danger">
            @Model.Message
        </label>
    }
</div>*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


