
@using ExpenseReimbursment.Models.Entities
@model List<ExpenseReportEntity>


<div class="container">
    <div class="row">
        <h4>Employee Reports</h4>
    </div>
    <div>
        <table id="reportTable">
            <thead>
            <td>
                Report Id
            </td>
            <td>
                Report Type
            </td>
            <td>
                Applied Employee
            </td>
            <td>
                Expense Amount
            </td>
            <td>
                Applied Date
            </td>
            <td>
                Status
            </td>
            <td>
                Approved Amount
            </td>
            <td>
                Approver Id
            </td>
            <td>
                Approved Date
            </td>
            <td>
                Comments
            </td>
            <td>
                Action
            </td>
            </thead>


            @foreach (ExpenseReportEntity expReport in Model)
            {
                <tr>
                    <td>
                        @expReport.ReportId
                    </td>
                    <td>
                        @expReport.ExpType.ExpName
                    </td>
                    <td>
                        @expReport.EmpId
                    </td>
                    <td>
                        @expReport.ExpenseAmt
                    </td>
                    <td>
                        @expReport.AppliedDate
                    </td>
                    <td>
                        @expReport.Status
                    </td>

                    @if (expReport.Status.ToLower().Equals("approved"))
                    {
                        <td>
                            expReport.ApprovedAmt.ToString();
                        </td>
                    }
                    else
                    {
                        <td>TBD</td>
                    }
                    @if (expReport.Status.ToLower().Equals("approved"))
                    {
                        <td>
                            expReport.ApprovedDate;
                        </td>
                    }
                    else
                    {
                        <td>TBD</td>
                    }
                    @if (expReport.Status.ToLower().Equals("approved"))
                    {
                        <td>
                            expReport.ApproverId.ToString();
                        </td>
                    }
                    else
                    {
                        <td>TBD</td>
                    }
                    <td>
                        <div style="overflow-y:scroll; height:50px;">@expReport.Comments</div>

                    </td>
                    @if (expReport.Status.ToLower().Equals("approved"))
                    {
                        if (expReport.EmpId == Convert.ToInt32(Session["userId"]))
                        {
                            <td>
                                <div class="col-md-11">
                                    <input type="button" class="btn-link" value="Delete" />
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>No Action</td>
                        }

                    }
                    else
                    {
                        <td>
                            <div class="col-md-11">
                                <input id="btnRptUpdate" type="button" class="btn-link" value="Update" onclick="getReportDetails(@expReport.ReportId)" />
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
