@model ExpenseReimbursment.Models.ReportViewModel
@{
    ViewBag.Title = "GVB Expense Reimbursement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Expense Reimbursement", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Generate Report", "Index", "Employee")</li>
                <li class="dropdown">
                    @if (Model.RoleId.Equals("EMP"))
                    {
                        <a href="javascript:;" onclick="getReportList(@Model.EmpId);">View My Reports</a>
                    }
                    else
                    {                    
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a id="reportList" href="javascript:;" onclick="getReportList(@Model.EmpId);">View My Reports</a></li>
                                <li><a id="reportListApp" href="javascript:;" onclick="getReportListApproval('@Model.RoleId');">View Employees Reports</a></li>                                
                            </ul>
                    }                    
                </li>
                <li><a href="javascript:;" onclick="getAbout('employeeBody');">About</a></li>
                <li><a href="javascript:;" onclick="getContact('employeeBody');">Contact</a></li>
            </ul>
            @Html.Partial("_LoginPartial", "Hello " + Model.Name + " !")
        </div>
    </div>
</div>
<div class="container">
    <h1>@ViewBag.Title</h1>
</div>

<div id="employeeBody" class="container">
    @Html.Partial("~/Views/Employee/_GenerateReport.cshtml")
</div>





